<div class="container-top">
    <form [formGroup]="crudTask">
        <mat-form-field class="block padding-s datepicker">
            <mat-label>Due date</mat-label>
            <input matInput [matDatepicker]="pickerfrom" formControlName="dueDate" placeholder="Due date">
            <mat-datepicker-toggle matSuffix [for]="pickerfrom"></mat-datepicker-toggle>
            <mat-datepicker #pickerfrom></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="block">
                <input matInput placeholder="Derscription" formControlName="description">
        </mat-form-field>
        <mat-form-field class="block">
                <mat-label>Status</mat-label>
                <mat-select [disabled]="role === 'User'" matNativeControl required formControlName="status">
                    <mat-option *ngFor="let status of statusOptions" [value]="status.status">{{status.display}}</mat-option>
                </mat-select>
        </mat-form-field>
        <mat-form-field class="padding-s datepicker">
                <mat-label>Technician</mat-label>
                <mat-select matNativeControl required formControlName="technicianId">
                    <mat-option *ngFor="let tech of technicians" [value]="tech.id">{{tech.name}}</mat-option>
                </mat-select>
        </mat-form-field>
        
        <button class="generate" mat-flat-button color="primary" (click)="update()">Update</button>
        <button style="margin-left:10px;"class="generate" mat-flat-button color="primary" (click)="delete()">Delete</button>
        <div *ngIf="role !== 'User'">
                <mat-label>Ticket creator</mat-label>
                <div>{{user.name}}</div>
                <mat-label>Ticket creator phone</mat-label>
                <div>{{user.contact.telephone}}</div>
                <mat-label>Ticket creator e-mail</mat-label>
                <div>{{user.contact.email}}</div>
            </div>
    </form>
</div>

