<table *ngIf="showList" mat-table [dataSource]="data" class="mat-elevation-z8">
    <ng-container *ngFor="let column of columns;" matColumnDef="{{column.columnDef}}">
        <td mat-header-cell *matHeaderCellDef>{{column.header}}</td>
        <td td *matCellDef="let element">{{column.cell(element)}}</td>
    </ng-container>
    <tr class="hover" mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="executeAction(row)"></tr>
</table>