:host{
    width: 100%;
    height: 100%;
}

.container-top {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-form-field{
    display:block;
}