<div class="container-top">
    <form [formGroup]="loginForm">
        <mat-form-field class="padding-s datepicker">
            <input matInput formControlName="username" placeholder="Username">
        </mat-form-field>
        <mat-form-field class="padding-s datepicker">
            <input matInput formControlName="password" type="password" placeholder="Password">
        </mat-form-field>
        <button  mat-flat-button color="primary" (click)="login()">Login</button>
    </form>
</div>