<app-header></app-header>
<mat-sidenav-container class="example-container" >
  <mat-sidenav mode="side" opened class="sidenav" *ngIf="authenticated">
    <button mat-flat-button color="accent" routerLink="/document" >Documents</button>
    <button mat-flat-button color="accent" routerLink="/task-create">Create a task</button>
    <button mat-flat-button color="accent" routerLink="/task-view">View tasks</button>
    <button mat-flat-button color="accent" routerLink="/profile">Profile</button>
    <!-- <button mat-flat-button color="accent" routerLink="/my-rides">My rides</button> -->
    <!-- <button mat-flat-button color="accent" routerLink="/my-rezervations">My rezervations</button> -->
    <button *ngIf="role === 'Admin'"mat-flat-button color="accent" routerLink="/management">Management</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="content" [@slide]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>