:host{
    height: 100%;
    width: 100%;
    
}
.example-container {
    width: 100%;
    height: 100%;
}

.sidenav {
    height:100%;
    width:20%
}

button {
    display: block;
    width:100%;
    margin-top: 5px;
    border-radius:0px;
    opacity: 1;
    animation: ease-in-out;
    transition:0.5s;
}

button:hover {
    opacity: 0.75;
    padding-left: 5px;
    transform:rotate(1deg);
    background-color: darken(#ff4081, 35% );
}

#content {
    position:relative;
}