<div class="container-top">
    <form [formGroup]="profileForm">
        <mat-form-field class="block">
                <input matInput placeholder="Name" formControlName="name" [value]="me.name">
        </mat-form-field>
        <mat-form-field class="block">
                <input matInput placeholder="Surname" formControlName="surname" [value]="me.surname">
        </mat-form-field>
        <mat-form-field class="block">
                <input matInput placeholder="E-mail" formControlName="email" [value]="me.contact.email">
        </mat-form-field>
        <mat-form-field class="block">
                <input matInput placeholder="Telephone" formControlName="telephone" [value]="me.contact.telephone">
        </mat-form-field>
        <button class="generate" mat-flat-button color="primary" (click)="change()">Change</button>
    </form>
</div>

