<div class="container-top">
    <form class="block" style="display:inline-block" [formGroup]="profileOtherForm">
        <mat-form-field class="block">
                <input matInput placeholder="Name" formControlName="name" [value]="user.name">
        </mat-form-field>
        <mat-form-field class="block">
                <input matInput placeholder="Surname" formControlName="surname" [value]="user.surname">
        </mat-form-field>
        <mat-form-field class="block">
                <input matInput placeholder="E-mail" formControlName="email" [value]="user.contact.email">
        </mat-form-field>
        <mat-form-field class="block">
                <input matInput placeholder="Telephone" formControlName="telephone" [value]="user.contact.telephone">
        </mat-form-field>
        <button class="generate" mat-flat-button color="primary" (click)="change()">Change</button>
        <button class="generate" mat-flat-button color="primary" (click)="delete()">Delete</button>
    </form>
    <form class="block" [formGroup]="createUserForm">
        <mat-form-field class="block">
            <input matInput placeholder="Username" formControlName="username">
        </mat-form-field>   
        <mat-form-field class="block">
                <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
        <mat-form-field class="block">
                <input matInput placeholder="Surname" formControlName="surname">
        </mat-form-field>
        <mat-form-field class="block">
                <input matInput placeholder="E-mail" formControlName="email">
        </mat-form-field>
        <mat-form-field class="block">
                <input matInput placeholder="Telephone" formControlName="telephone">
        </mat-form-field>
        <mat-form-field class="block">
            <input matInput placeholder="Password" type="password" formControlName="password">
        </mat-form-field>
        <mat-select class="block" matNativeControl required formControlName="claim">
            <mat-option value="User">User</mat-option>
            <mat-option value="Admin">Admin</mat-option>
            <mat-option value="Technician">Technician</mat-option>
        </mat-select>
        <button class="generate" mat-flat-button color="primary" (click)="create()">Create</button>
    </form>
</div>

