<div class="container-top">
    <form [formGroup]="generationCriteria">
        <mat-form-field class="padding-s datepicker">
            <input matInput [matDatepicker]="pickerfrom" formControlName="from" placeholder="Choose a from date">
            <mat-datepicker-toggle matSuffix [for]="pickerfrom"></mat-datepicker-toggle>
            <mat-datepicker #pickerfrom></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="padding-s datepicker">
            <input matInput [matDatepicker]="pickerto" formControlName="to" placeholder="Choose a to date">
            <mat-datepicker-toggle matSuffix [for]="pickerto"></mat-datepicker-toggle>
            <mat-datepicker #pickerto></mat-datepicker>
        </mat-form-field>
       
        <mat-form-field class="padding-s datepicker">
            <mat-label>Document type to generate</mat-label>
            <mat-select matNativeControl required>
                <mat-option value="profit">Profit</mat-option>
            </mat-select>
        </mat-form-field>
        <button class="generate" mat-flat-button color="primary" (click)="generate()">Create!</button>
    </form>
</div>
<div class="list">
    <app-list [input]=data (itemClicked)="itemClicked($event)"></app-list>
</div>
