/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~animate.css/animate.min';

html, body { height: 100%; margin: 0; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }
.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding-s {
    padding:5px;
}

.padding-md {
    padding:10px;
}

.padding-l {
    padding:15px;
}

.margin-s {
    margin:5px;
}

.margin-md {
    margin:10px;
}

.margin-l {
    margin:15px;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}