<div class="container-top">
    <form [formGroup]="taskForm">
        <mat-form-field class="padding-s datepicker">
            <input matInput [matDatepicker]="pickerfrom" formControlName="dueDate" placeholder="Choose a due date">
            <mat-datepicker-toggle matSuffix [for]="pickerfrom"></mat-datepicker-toggle>
            <mat-datepicker #pickerfrom></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="block">
            <input matInput placeholder="Description" formControlName="description">
        </mat-form-field> 
        <mat-form-field class="padding-s datepicker">
            <mat-label>Technician</mat-label>
            <mat-select matNativeControl required formControlName="technicianId">
                <mat-option *ngFor="let tech of technicians" [value]="tech.id">{{tech.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button class="generate" mat-flat-button color="primary" (click)="create()">Create</button>
    </form>
</div>
<!-- <div class="list">
    <app-list [input]="data" (itemClicked)="itemClicked($event)"></app-list>
</div> -->
