:host{
    width:100%;
    height:60px;
    display: block;

}

.header-text {
    margin:0;
    padding: 5px;
    display: inline-block;
    font-size:1.5em;
}

.header-wrapper {
    vertical-align:middle;
    background-color: #3F51B5;
    color: #fafafa;
    display: flex;
    align-items:center;
    height:100%;
}